<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fxz.mall.product.mapper.SkuMapper">

    <select id="listSkuBySpuId" resultType="com.fxz.mall.product.entity.Sku">
        SELECT id,
               NAME,
               sku_sn,
               pic_url,
               price,
               stock_num
        FROM sku
        WHERE spu_id = #{id}
    </select>

    <select id="getSkuInfo" resultType="com.fxz.mall.product.dto.SkuInfoDTO">
        select
            t1.id skuId,
            t1.sku_sn,
            concat(t2.name,' ',t1.name) skuName,
            t1.pic_url,
            t1.price,
            t1.stock_num,
            t2.name as spuName,
            t2.id as spuId
        from sku t1
        left join spu t2 on t1.spu_id = t2.id
        where t1.id = #{skuId}
    </select>

</mapper>